@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
}

.rotate_3d:hover {
  transform: rotateY(360deg);
}

@layer components {
  .outline-gradient {
    border-radius: 0.5rem; /* Adjust as needed */
    border: 4px solid transparent;
    background-image: linear-gradient(white, white),
      linear-gradient(to bottom right, #fecacc, #cda6e9);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }

  .outline-gradient-hover:hover {
    border-color: transparent;
    background-image: linear-gradient(to bottom right, #fecacc, #cda6e9);
  }
}
